body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;
    background-color: black;
    margin-top: 100px;
    margin-bottom: 100px;
    color: aliceblue;
}
span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div span {
    gap: 40px;
}