@media only screen and (min-width: 600px) and (max-width: 1024px) {

    body {
        background-image: url(headphones_hero_tablet_1-01.jpg);
    }

    header div .logo-1 {
        width: 500%;
        height: auto;
        margin-left: -60px;
    }

    .header-contents {
       
       
       
    }
    header div .links {
      
      
    }
    header div span  {
        opacity: 0;
       

    }

        /* MID SECTION */

    .mid-text {
        font-size: 2.4rem;
        margin-top: 120%;    
    }

    .mid-text-cap {
        font-size: 0.77rem;
    }

    .button-top {
        margin-top: 20px;
    }

    .homepage-text {
        margin: 55px;
        font-size: 0.7rem;
        line-height: 20px;
        margin-top: 70px;
    }

    /* ARTICLE SECTION */

    .what-we-do {
        margin-top: 150px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 0px;
    }

    .article-text {
        margin: 55px;
        margin-top: 70px;
        margin-bottom: 0;
        line-height: 20px;
        font-size: 0.7rem;

    }

    /* <!-- USES SECTION --> */

    .uses-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        transform: 0.4rem;
        transform-origin: top left;
        gap: 120px;
        margin-bottom: 0px;
    }

    .uses-container {
        margin-bottom: 0px;  
    }

    /* PERCENTAGE-SECTION  */

    .percentage-head {
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        margin: -500px;
        margin-top: -120px;
        margin-bottom: 0px;
        
        /* padding-top: -30px; */
    }
    .percentage-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(tablet-picture-2-01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 200px;
        /* margin-top: 30px; */
    }

    .percentage-section .tag-text{
        margin: -135px;
        margin-top: 30px;
        margin-bottom: 0;
        line-height: 20px;
        font-size: 0.7rem;
    }

    .percentage-root {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        padding-top: 0px;
    }

    .pentagone-shape {
        width: 100px;
        height: 100px;
    }

    .percentage-tag .value {
        font-size: 1.8rem;
    }

    .percentage-tag p {
        text-align: center;
        position: absolute;
        top: 30%;
        left: 15%;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 0.5rem;
    }
    .percentage-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 50%;
        margin-top: 60px;
        margin-left: -40%;

    }
    .percentage-tag{
        display: flex;
        flex-direction:column;
        align-items: center;
        transform: scale(140%);
        transform-origin: center;
    }

    /* FOOTER */

    .contact-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transform: scale(0.8);
        margin-top: 150px;
        gap: 150px;
        margin: 5px;
    }

    footer p {
        padding-bottom: 10%;
        font-size: 60%;
    }

}






@media only screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        background-image: url(headphones_hero_tablet_1-01.jpg);
    }

    .logo-1 {
        width: 170px;
        height: auto;
        /* margin-left: -60px; */
    }

    .header-contents {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transform: scale(1.5rem);
        margin-top: 90%;
        gap: 150px;
        margin: 5px;
    }
    header div .links {
      
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        font-weight: bold;
        /* opacity: 100%; */
    }
    header div span a {
        font-size: 1rem;
        margin: 35px;
        margin-right: 0px;

    }

        /* MID SECTION */

    .mid-text {
        font-size: 1.5rem;
        margin-top: 38%;
    }

    .mid-text-cap {
        font-size: 0.77rem;
    }

    .button-top {
        margin-top: 10%;
    }

    .homepage-text {
        margin: 55px;
        font-size: 0.7rem;
        line-height: 20px;
        margin-top: 45px;
    }

    /* ARTICLE SECTION */

    .what-we-do {
        margin-top: 26%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 0px;
    }

    .article-text {
        margin: 55px;
        margin-top: 70px;
        margin-bottom: 0;
        line-height: 20px;
        font-size: 0.7rem;
        

    }

    /* <!-- USES SECTION --> */

    .uses-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        transform: 0.4rem;
        transform-origin: top left;
        gap: 120px;
        margin-bottom: 0px;
    }

    .uses-container {
        margin-bottom: 0px;  
    }

    /* PERCENTAGE-SECTION  */

    .percentage-head {
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        margin: -500px;
        margin-top: -120px;
        margin-bottom: 0px;
        
        /* padding-top: -30px; */
    }
    .percentage-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(tablet-picture-2-01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 200px;
        /* margin-top: 30px; */
    }

    .percentage-section .tag-text{
        margin: -135px;
        margin-top: 30px;
        margin-bottom: 0;
        line-height: 20px;
        font-size: 0.7rem;
    }

    .percentage-root {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        padding-top: 0px;
    }

    .pentagone-shape {
        width: 100px;
        height: 100px;
    }

    .percentage-tag .value {
        font-size: 1.8rem;
    }

    .percentage-tag p {
        text-align: center;
        position: absolute;
        top: 30%;
        left: 15%;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 0.5rem;
    }
    .percentage-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 50%;
        margin-top: 60px;
        margin-left: -40%;

    }
    .percentage-tag{
        display: flex;
        flex-direction:column;
        align-items: center;
        transform: scale(140%);
        transform-origin: center;
    }

    /* FOOTER */

    .contact-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transform: scale(0.8);
        margin-top: 150px;
        gap: 150px;
        margin: 5px;
    }

    footer p {
        padding-bottom: 10%;
        font-size: 60%;
    }








   
    

}
